---
import PersonalPhoto from "../shared/PersonalPhoto.astro";
---

<section>
  <h2 class="mb-2.5 text-h2 uppercase text-primary">About me</h2>

  <p class="mb-6 text-body">
    I started my career in the summer of 2017 as a ASP.NET developer at the
    Faculty of Electrical Engineering and Computer Science in Maribor. In this
    role I've learned the basics of full-stack web development and working in a
    team.
  </p>

  <div class="mb-6 flex flex-col items-center gap-16 sm:flex-row">
    <p class="text-body">
      I then joined a web development agency <a href="https://u-centrix.com/en/"
        >U-Centrix</a
      > as a backend developer. Because the company was still in early phases of
      growth, I was soon granted the opportunity to work on other areas of the
      stack, such as frontend, mobile, cloud and devops. I demonstrated my <span
        class="text-primary"
      >
        adaptability</span
      >: I was able to swiftly adopt new technologies, codebases and roles. I've
      also demonstrated my <span class="text-primary">initiative</span> as I
      proposed and executed many improvements that streamlined the company's
      processes and saved it time and money. During this time I gained the
      breadth of knowledge in various areas of web development, which I still
      use today.
    </p>

    <PersonalPhoto />
  </div>

  <p class="mb-6 text-body">
    In late 2020, I stepped out of my comfort zone and became a project manager
    during the time that my company was without one. I like to say that I've
    learnt the most about how to be a good software engineer during this time as
    I became familiar with the <span class="text-primary">
      business aspects of engineeering</span
    >, <span class="text-primary">leadership</span>, and the importance of <span
      class="text-primary">soft skills</span
    >. After successfuly juggling 4 difficult projects for 8 months, I took a
    step back because I was beginning to feel burnt-out. This is when I realized
    that in order to perform the best, having good
    <span class="text-primary">health</span>
     and setting up smart <span class="text-primary">productivity</span>
     systems is crucial.
  </p>

  <div>
    <p class="mb-6">
      In late 2021, I decided to go back to engineering. I started working for
      multiple companies, as I kept an advisor and full-stack developer role at
      U-Centrix, and joined <a href="https://povio.com/">Povio</a> as a frontend
      developer. I enjoyed the balance of specializing in frontend at Povio, and
      working on a variety of projects at U-Centrix.
    </p>

    <p class="mb-6 text-body">
      In late 2022, I was granted an opportunity at Povio to <span
        class="text-primary">work with people</span
      > - my responsibility is listening to other engineers, helping them solve
      their problems, providing and receiving <span class="text-primary"
        >feedback</span
      > and ensuring that they are feeling good. I still kept my frontend
      developer role, but also began branching out to mobile, backend and most
      recently, devops and architecture, while at U-Centrix I specialized in
      mobile development. In each of these roles I've shown my <span
        class="text-primary">ownership</span
      >, utilizing my management and technical skills to ensure that the work I
      do is delivered.
    </p>

    <p class="mb-6 text-body">
      In summer of 2023, I've taken part in Povio's frontend academy program,
      where I fulfilled my lifelong dream of becoming a lecturer. In the
      academy, I served as a technical lead, lecturer, and <span
        class="text-primary">mentor</span
      >. I've also led the internship program for the frontend academy, where
      I've mentored 4 interns.
    </p>

    <p class="mb-6 text-body">
      I've also represented Povio as a <span class="text-primary"
        >public speaker</span
      >, most recently at the OTS 2023 conference.
    </p>

    <hr class="mb-6 border-text opacity-30" />

    <p class="mb-6 text-body">
      Over the last 6 years, I've learnt not only about how to be a good
      software engineer, but also how to be a better team member, leader,
      mentor, public speaker, communicator, and how to improve my health and
      productivity. Because of this, I believe that my work is not only about
      writing code, it's about improving myself as a person, and learning how to
      bring value to the people around me do the same. And this is why I love my
      job.
    </p>
  </div>
</section>
