<section class="mt-1 pt-4">
  <h2 class="mb-2.5 text-h2 uppercase text-primary">About me</h2>

  <p class="mb-3 text-body">
    I started my career 7 years ago as a backend developer. Because the company
    I worked for was still in early stages of growth, I was soon given the
    opportunity to expand my work to <span class="text-primary">full-stack</span
    >, covering frontend, backend, mobile, devops, and cloud on various
    different projects. I was also able to
    <span class="text-primary">build and improve processes</span> in the company
    that helped us grow.
  </p>

  <p class="mb-3 text-body">
    After completing a few projects, I began taking on <span
      class="text-primary">architecture and devops roles</span
    >, where I designed solutions and implemented them together with my team.
  </p>

  <p class="mb-3 text-body">
    I then became a <span class="text-primary"
      >project manager and a tech lead</span
    >, overseeing multiple challenging projects. This experience enhanced my
    understanding of business aspects of engineering, leadership, and improved
    my communication. I also learned the importance of <span
      class="text-primary">health</span
    > and <span class="text-primary">setting up smart productivity systems</span
    >.
  </p>

  <p class="mb-3 text-body">
    I then returned to engineering, focusing on full-stack development,
    advising, mentoring and leading.
  </p>

  <p class="mb-3 text-body">
    On top of engineering, I've recently began working in <span
      class="text-primary">people management</span
    >, where I conduct meetings with other engineers, help them with their
    career growth, and provide feedback.
  </p>

  <p class="mb-3 text-body">
    I led my company's academy program, where I served as a technical lead, <span
      class="text-primary">lecturing and mentoring</span
    > up-and-coming frontend developers. I've also represented my company as a <span
      class="text-primary">public speaker</span
    >.
  </p>

  <p class="mb-3 text-body">
    In May 2024, I joined <span class="text-primary">Amazon</span> as a
    front-end engineer. I'm working on accessible and delightful front-end
    advertising experiences that receive hundreds of thousands of views.
  </p>

  <div class="mb-3 h-px bg-text opacity-20"></div>

  <p class="mb-3 text-body">
    Throughout my 7-year journey, I've evolved not only as a software engineer,
    but also as a team member, leader, mentor, public speaker, communicator, and
    a healthier person. I truly believe that my work has a positive impact on
    other people's lives, as well as mine. And this is why I love my job.
  </p>
</section>
