---
import PersonalPhoto from "../shared/PersonalPhoto.astro";
---

<section class="mb-12.5 flex items-center gap-16">
  <PersonalPhoto />

  <div>
    <h2 class="mb-2.5 text-h2 uppercase text-primary">About me</h2>

    <p class="text-body">
      I come from Maribor, Slovenia. I am 25 years old and currently work as a
      full-stack developer. Alongside my other work experience, I also served as
      a project manager, leading agile teams of up to 7 people. I am proficient
      in communication, both with my team and the end user. Others consider me a
      good mentor and I genuinely enjoy presenting or sharing my knowledge. In
      my free time, I like to do sports, read books, pretend I know how to play
      the guitar, learn about economics and history, and listen to music.
    </p>
  </div>
</section>
