<section class="py-8 sm:py-9">
  <h3 class="mb-5 text-h3">My skillset</h3>

  <p>Here's the summary of my skills.</p>

  <ul class="flex flex-col gap-3 py-5 text-body">
    <li>
      <span class="text-primary">Adaptability</span>: I am not afraid of foreign
      technologies, new codebases and roles outside of the technical domain.
    </li>
    <li>
      <span class="text-primary">Initiative</span>: I am able to recognize and
      implement improvements that can help the team save time and money.
    </li>
    <li>
      <span class="text-primary">Business aspects of engineering</span>: I
      understand the context of my work from a business perspective, allowing me
      to better understand and meet the needs of my client.
    </li>
    <li>
      <span class="text-primary">Leadership</span>: I am able to take the lead
      on a project and guide my team members.
    </li>
    <li>
      <span class="text-primary">Soft skills</span>: I invest a lot of time in
      improving my communication skills, both with technical and non-technical
      people.
    </li>
    <li>
      <span class="text-primary">Health</span>: I follow the belief that being
      the best version of myself requires a healthy daily routine.
    </li>
    <li>
      <span class="text-primary">Productivity</span>: I place a lot of emphasis
      on optimizing my workflow to deliver results faster.
    </li>
    <li>
      <span class="text-primary">Working with people</span>: I am a good
      listener, and am able to understand and meet the needs of my team members.
    </li>
    <li>
      <span class="text-primary">Feedback</span>: I am able to give and receive
      constructive feedback in order to improve.
    </li>
    <li>
      <span class="text-primary">Ownership</span>: I feel a strong sense of
      responsibility for the work that I do, and I ensure that it is delivered.
    </li>
    <li>
      <span class="text-primary">Mentoring</span>: I love passing on my
      knowledge to others.
    </li>
    <li>
      <span class="text-primary">Public speaking</span>: I enjoy presenting my
      ideas in front of a large audience.
    </li>
  </ul>
</section>
