<section class="py-12.5">
  <h3 class="mb-5 text-h3">Work values</h3>

  <ul class="flex flex-col gap-3 py-5 text-body">
    <li>
      <span class="text-primary">Simplicity:</span> I always strive for simple
      solutions that are understandable and maintainable.
    </li>
    <li>
      <span class="text-primary">Adaptability:</span> I am not afraid of foreign
      technologies and new concepts. My goal is to solve problems by utilizing
      technologies, rather than depending on them.
    </li>
    <li>
      <span class="text-primary">Productivity:</span> I place a lot of emphasis
      on providing maximum value in a given period of time by optimizing my
      workspace.
    </li>
    <li>
      <span class="text-primary">Critical thinking:</span> I believe in the
      power of feedback, whether it is self-reflection, a code review, or a
      product improvement. I can both give and receive constructive feedback.
    </li>
    <li>
      <span class="text-primary">Continuous learning:</span> I view knowledge as
      my most valuable asset. I learn something new every day.
    </li>
    <li>
      <span class="text-primary">Health:</span> I follow the belief that being
      the best version of myself requires a healthy daily routine.
    </li>
  </ul>
</section>
