---
import PrintIcon from "../../../assets/icons/PrintIcon.astro";

import AboutMeHeaderPersonalInfo from "./AboutMeHeaderPersonalInfo.astro";
import AboutMeHeaderSkillset from "./AboutMeHeaderSkillset.astro";
import AboutMeHeaderLinks from "./AboutMeHeaderLinks.astro";
---

<section class="mb-3">
  <div class="text-regular-big">
    <div class="flex items-center justify-between">
      <h1 class="print:text-h1 print:text-primary">Leon Pahole</h1>
      <a class="print:hidden" href="/leonpahole_cv.pdf" download>
        <span class="visually-hidden">Print my CV</span>
        <PrintIcon class="h-6 w-6" />
      </a>
    </div>

    <AboutMeHeaderPersonalInfo />

    <AboutMeHeaderLinks />
  </div>

  <hr class="my-3 h-px w-full bg-text opacity-20 print:opacity-100" />

  <AboutMeHeaderSkillset />
</section>
