---
import { PersonalDescription } from "../../../data/presentation";
---

<ul class="text-body">
  <li>
    {PersonalDescription}
  </li>
  <li>Age: 26</li>
  <li>Location: Maribor, Slovenia</li>
  <li>Education: Bachelor's degree in Computer Science</li>
</ul>
