---
import { linkedin, email } from "../../data/socials";
import LinkedinIcon from "../../assets/icons/social/LinkedinIcon.astro";
import EmailIcon from "../../assets/icons/social/EmailIcon.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const socialIconClasses = "w-5 h-5";
---

<div class={"flex items-center gap-2 " + className}>
  <p>Connect with me:</p>
  <ul class="flex items-center gap-4">
    <li>
      <a href={linkedin.url} target="_blank">
        <LinkedinIcon class={socialIconClasses} />
      </a>
    </li>
    <li>
      <a href={email.url} target="_blank">
        <EmailIcon class={socialIconClasses} />
      </a>
    </li>
  </ul>
</div>
