---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="border-x border-y border-text border-x-transparent px-1.25 py-0.75 text-center text-link-big hover:border-primary hover:border-y-transparent"
>
  <slot />
</a>
