---
import { Picture } from "astro-imagetools/components";
---

<div class="relative h-52 w-52 flex-shrink-0 overflow-hidden rounded-full">
  <Picture
    src={"/src/assets/images/LeonPahole.png"}
    alt="A headshot of Leon Pahole"
    sizes="13rem"
    layout="fill"
  />
</div>
