---
import type { CompanyEntry } from "../../../data/experience";
import CareerCompanyRole from "./CareerCompanyRole.astro";

interface Props {
  company: CompanyEntry;
  isLast: boolean;
}

const { company, isLast } = Astro.props;
---

<li class={`relative ${isLast ? "" : "print:mb-6 mb-7"}`}>
  <div
    class="absolute -left-9 top-2.5 h-6 w-6 rounded-full bg-primary print:hidden"
  >
  </div>

  <article>
    <div class="mb-4 flex justify-between gap-5">
      <h3 class="text-h3">
        <a class="border-b border-text" target="blank" href={company.url}
          >{company.name}</a
        >
      </h3>
    </div>

    <ol class="flex flex-col items-center gap-6 pl-0 print:!pl-[0rem] sm:pl-6">
      {company.roles.map((role) => <CareerCompanyRole role={role} />)}
    </ol>
  </article>
</li>
