---
import type { SkillGroup } from "../../../data/experience";

interface Props {
  group: SkillGroup;
}

const { group } = Astro.props;
---

<article class="group">
  <h3 class="text-technologies">{group.type}</h3>
  <ul
    class="flex flex-col gap-2.5 border-x border-y border-x-transparent border-y-text p-2.5"
  >
    {
      group.skills.map((skill) => (
        <li class="text-link">
          <button type="button" data-tech={skill.id}>
            {skill.name}
          </button>
        </li>
      ))
    }
  </ul>
</article>
