---
import Link from "../shared/Link.astro";
---

<section class="flex items-center justify-center pb-10 pt-10 sm:pb-12 sm:pt-6">
  <Link href="/about-me">Read more about me and my experience &#x3e;</Link>
</section>
