<section class="mt-12.5">
  <ul class="flex flex-col gap-3 text-body">
    <li>
      <span class="text-primary">Main goals in life:</span> to be the best
      version of myself, to learn something new every day, to improve my
      productivity and to pass my knowledge to others.
    </li>
    <li>
      <span class="text-primary">Experience:</span> 5 years in <span
        class="font-semibold">full-stack development</span
      >, technical leading of agile teams and project management.
    </li>
    <li>
      <span class="text-primary">Education:</span> I have a bachelor's degree in
      computer science and information technologies.
    </li>
    <li>
      <span class="text-primary">Other points of interest:</span> algorithms &
      data structures and security.
    </li>
  </ul>
</section>
