<section class="mt-12.5">
  <ul class="flex flex-col gap-3 text-body">
    <li>
      Throughout my 6-year career, I've consistently demonstrated an ability to <span
        class="text-primary">quickly embrace new challenges and roles</span
      >. I've served as a frontend, mobile, backend, devops, and cloud
      developer, alongside roles in software architecture, leadership, project
      management, lecturing, mentoring, and people operations.
    </li>
    <li>
      Apart from technical skills, I place a strong emphasis on improving my <span
        class="text-primary">soft skills</span
      > so I can communicate effectively with my team and clients.
    </li>
    <li>
      Thanks to my experience in management, I understand the <span
        class="text-primary">business side of engineering</span
      >, which allows me to adapt my work to suit business goals.
    </li>
    <li>
      I have a strong sense of <span class="text-primary">ownership</span> and <span
        class="text-primary">responsibility</span
      > for the projects that I lead. I communicate effectively and make sure
      that my team and I deliver the best possible product.
    </li>
    <li>
      Investing in my <span class="text-primary">well-being</span>, <span
        class="text-primary">health</span
      > and <span class="text-primary">productivity</span> is my secret weapon
      for consistently delivering quality work quickly.
    </li>
    <li>
      I have a <span class="text-primary">bachelor's degree</span> in computer
      science and am currently writing my master's thesis.
    </li>
  </ul>
</section>
