---
import DarkModeSwitcher from "./DarkModeSwitcher.astro";

const links = [
  {
    label: "About me",
    url: "/about-me",
  },
  {
    label: "Blog",
    url: "/blog",
  },
  {
    label: "Contact",
    url: "/?contact#social-links",
  },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = "/" + pathname.slice(1);
---

<header
  class="flex flex-col flex-wrap items-center justify-between gap-2 py-4 sm:mb-6 md:mb-10 md:flex-row md:gap-8"
>
  <a href="/" class="text-h1 text-primary">Leon Pahole</a>

  <div class="flex flex-col items-center gap-4 sm:flex-row sm:gap-0">
    <nav>
      <ul class="flex flex-col items-center gap-3 xs:flex-row">
        {
          links.map((link) => (
            <li class="flex-shrink-0">
              <a
                class={`border-x px-4 text-link md:px-2.5 ${
                  currentPath.startsWith(link.url)
                    ? "border-x-primary"
                    : "border-x-transparent"
                }`}
                href={link.url}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <DarkModeSwitcher />
  </div>
</header>
