---
import DarkModeSwitcher from "./DarkModeSwitcher.astro";

const links = [
  {
    label: "About me",
    url: "/about-me",
  },
  {
    label: "Blog",
    url: "/blog",
  },
  {
    label: "Contact",
    url: "/?contact",
  },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = "/" + pathname.slice(1);
---

<header class="mb-17.5 flex flex-wrap items-center justify-between gap-8 py-4">
  <a href="/" class="px-2.5 text-h1 text-primary">Leon Pahole</a>

  <div class="flex items-center">
    <nav>
      <ul class="flex items-center">
        {
          links.map((link) => (
            <li>
              <a
                class={`border-x px-2.5 text-link ${
                  currentPath === link.url
                    ? "border-x-primary"
                    : "border-x-transparent"
                }`}
                href={link.url}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <DarkModeSwitcher />
  </div>
</header>
