---
import ConnectWithMe from "../shared/ConnectWithMe.astro";
---

<footer
  class="mt-4 flex flex-wrap items-center justify-center gap-2 py-5 print:hidden sm:mt-8"
>
  <p class="text-body">© Leon Pahole</p>
   •
  <ConnectWithMe class="text-body" />
</footer>
