---
import type { BlogPostFrontmatter } from "../../types/blog-post";
import BlogPostListItemCategories from "./BlogPostListItemCategories.astro";

interface Props {
  post: BlogPostFrontmatter;
}

const { post } = Astro.props;
---

<div class="flex flex-wrap items-center gap-1.75">
  <time class="flex-shrink-0 text-details" datetime="{post.frontmatter.date}">
    {post.date}
  </time>
   •
  <span class="flex-shrink-0 text-details">{post.minutesRead} min</span>
   •
  <BlogPostListItemCategories categories={post.categories} />
</div>
