---
import SocialLinks from "./SocialLinks.astro";
import PersonalPhoto from "../../shared/PersonalPhoto.astro";
import { PersonalDescription } from "../../../data/presentation.ts";
---

<section
  class="flex flex-col-reverse items-center justify-between gap-10 text-center sm:flex-row sm:text-start"
>
  <div>
    <h1 class="text-regular-big">
      <span class="block">Hi, I'm Leon.</span>
      <span class="block">{PersonalDescription}</span>
    </h1>

    <SocialLinks />
  </div>

  <PersonalPhoto />
</section>
