---
import SocialLinks from "./SocialLinks.astro";
import PersonalPhoto from "../../shared/PersonalPhoto.astro";
---

<section class="flex items-center gap-16">
  <div>
    <h1 class="mb-7.5 text-regular-big">
      <span class="block">Hi, I'm Leon.</span>
      <span class="block">A full-stack web developer.</span>
    </h1>

    <SocialLinks />
  </div>

  <PersonalPhoto />
</section>
