---
import SocialLinks from "./SocialLinks.astro";
import PersonalPhoto from "../../shared/PersonalPhoto.astro";
---

<section
  class="flex flex-col-reverse items-center gap-10 text-center sm:flex-row sm:text-start"
>
  <div>
    <h1 class="text-regular-big">
      <span class="block">Hi, I'm Leon.</span>
      <span class="block"
        >I'm a software engineer with management experience and strong soft
        skills.</span
      >
    </h1>

    <SocialLinks />
  </div>

  <PersonalPhoto />
</section>
