---
import { SEO } from "astro-seo";

import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/footer/Footer.astro";
import LeonPaholeImage from "../assets/images/LeonPahole.png";
import { importImage } from "astro-imagetools/api";

import "@fontsource-variable/red-hat-mono";

import "../styles/colors.css";
import "../styles/utils.css";
interface Props {
  title?: string;
  description?: string;
  socialCard?: {
    title?: string;
    type?: "website" | "article";
    image?: string;
    description?: string;
    twitterType?: "summary" | "summary_large_image";
  };
}

const {
  title: titleProp,
  description: descriptionProp,
  socialCard: socialCardProp,
} = Astro.props;

const description =
  descriptionProp ??
  "I'm Leon. I'm a software engineer with management experience and strong soft skills.";

const title =
  (titleProp ? `${titleProp} | ` : "") + "Leon Pahole - Software Engineer";

const socialCard = {
  title: socialCardProp?.title ?? title,
  type: socialCardProp?.type ?? "website",
  image:
    socialCardProp?.image ??
    (await importImage(
      "/src/assets/images/LeonPahole.png?width=800&q=60&format=jpg",
    )),
  description: socialCardProp?.description ?? description,
  twitterCard: socialCardProp?.twitterType ?? "summary",
};

const TwitterUsername = "@LeonPahole";

const socialImage = new URL(socialCard.image ?? LeonPaholeImage.src, Astro.site)
  .href;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: socialCard.title,
          type: socialCard.type ?? "website",
          image: socialImage,
        },
        optional: {
          description: socialCard.description,
        },
      }}
      twitter={{
        creator: TwitterUsername,
        title: socialCard.title,
        image: socialImage,
        description: socialCard.description,
        card: socialCard.twitterCard,
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-w-[320px] bg-background font-mono text-text">
    <div class="!print:p-[0] mx-auto box-content max-w-screen px-4 md:px-8">
      <Navbar />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
