---
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/footer/Footer.astro";
import HTMLHead, { type HTMLHeadProps } from "./HTMLHead.astro";

import "@fontsource-variable/red-hat-mono";

import "../styles/colors.css";
import "../styles/utils.css";

interface Props extends HTMLHeadProps {}

const { ...headProps } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <HTMLHead {...headProps} />
  <body class="min-w-[320px] bg-background font-mono text-text">
    <div class="!print:p-[0] mx-auto box-content max-w-screen px-4 md:px-8">
      <Navbar />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
